############################
# SISTEMA
############################
.DS_Store
Thumbs.db
.vscode/
.idea/

############################
# DEPENDENCIAS
############################
node_modules/

############################
# ENV / SECRETOS
############################
.env
.env.*
*.env

############################
# LOGS
############################
logs/
*.log
npm-debug.log*

############################
# BUILD
############################
dist/
build/
coverage/

############################
# CACHE
############################
.cache/
.tmp/

############################
# OS
############################
*.swp